.FilmCard{
    width: 150px;
    height: 300px;
    display: flex;
}
.FilmCard-info{
    h1{
        font-size: 18px;
        font-weight: 700;
    }
    p {
        opacity: 0.5;
        font-size: 14px;
        font-weight: 400;
    }
}