
.title-block{
    background-color: #D9D9D9;
    width: 1090px;
    height: 200px;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
    .title-block__title{
        font-size: 50px;
     }
}
.tech-blocks{
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}
.tech-block{
    background-color: #D9D9D9;
    width: 475px;
    height: 475px;
    border-radius: 30px;
    padding: 20px;
    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
    
    h3{
        margin-top: 25px;
        text-align: center;
        font-size: 32px;
    }
    ul{
        margin-top: 25px;
        margin-left: 65px;
        list-style-type: circle;
        font-size: 30px;
    }
}