@import url('https://fonts.cdnfonts.com/css/pragmatica');

header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 52px;
    width: 1291px;
    padding: 10px 0;
    border-radius: 35px;
    border: 3px solid #1E0036;
    color: #1E0036;
    filter: blur(0px);
    
    font-family: 'Pragmatica', sans-serif;
    font-size: 36px;
    font-weight: 600;
    z-index: 999;

    .navigation-list {
      list-style-type: none;
      display: flex;
      margin: 0 67px;
      padding: 0;

      li:not(:last-child) {
        margin-right: 150px; 
      }

      li {
        transition: color 0.1s ease-in-out;
        text-decoration: none;
        &:hover {
          color: #f09bdd;
          cursor: url('../../assets/icons/cursor-hovered.png'), auto;

        }
      }
    }
}
::-webkit-scrollbar {
  width: 0;
}